<section class="call_to_action" th:fragment="calltoaction">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="call_action_inner">
                        <div class="call_text">
                            <h3>Tenemos <span>Recomendaciones</span> para Ti</h3>
                            <p>Obtén un 30% de descuento al gastar $150 o más con el código Recicar11</p>
                        </div>
                        <div class="discover_now">
                            <a href="#">descúbrelo ahora</a>
                        </div>
                        <div class="link_follow">
                            <ul>
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

