<footer class="footer_widgets" th:fragment="footer">
        <div class="container">
            <div class="footer_top">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widgets_container contact_us">
                            <div class="footer_logo">
                                <a href="#"><img src="/img/logo/logo.png" alt=""></a>
                            </div>
                            <div class="footer_contact">
                                <p>Somos un equipo de diseñadores y desarrolladores que crean Magento, Prestashop, Opencart de alta calidad...</p>
                                <p><span>Dirección</span> 4710-4890 Breckinridge St, UK Burlington, VT 05401</p>
                                <p><span>¿Necesitas ayuda?</span>Llama: <a href="tel:1-800-345-6789">1-800-345-6789</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="widgets_container widget_menu">
                            <h3>Información</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="/about">Sobre Nosotros</a></li>
                                    <li><a href="#">Información de Entrega</a></li>
                                    <li><a href="/privacy-policy">Política de Privacidad</a></li>
                                    <li><a href="/coming-soon">Próximamente</a></li>
                                    <li><a href="#">Términos y Condiciones</a></li>
                                    <li><a href="#">Devoluciones</a></li>
                                    <li><a href="#">Tarjetas de Regalo</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="widgets_container widget_menu">
                            <h3>Extras</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Devoluciones</a></li>
                                    <li><a href="#">Historial de Pedidos</a></li>
                                    <li><a href="/wishlist">Lista de Deseos</a></li>
                                    <li><a href="#">Boletín</a></li>
                                    <li><a href="#">Afiliados</a></li>
                                    <li><a href="#">Ofertas Especiales</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="widgets_container">
                            <h3>Suscríbete al Boletín</h3>
                            <p>Nunca compartiremos tu dirección de correo electrónico con terceros.</p>
                            <div class="subscribe_form">
                                <form id="mc-form" class="mc-form footer-newsletter">
                                    <input id="mc-email" type="email" autocomplete="off" placeholder="Introduce tu dirección de correo electrónico aquí..." />
                                    <button id="mc-submit">Suscribirse</button>
                                </form>
                                <!-- mailchimp-alerts Start -->
                                <div class="mailchimp-alerts text-centre">
                                    <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                    <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                    <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                                </div><!-- mailchimp-alerts end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright_area">
                            <p>Copyright &copy; 2021 <a href="#">Recicar</a> All Right Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer_payment text-right">
                            <a href="#"><img src="/img/icon/payment.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
