<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${pageTitle}">Recicar</title>
    <th:block th:replace="${head}"></th:block>
</head>
<body>
    <th:block th:replace="fragments/_header :: header"></th:block>
    <main>
        <th:block th:replace="${content}"></th:block>
    </main>
    <th:block th:replace="fragments/_footer :: footer"></th:block>
</body>
</html>

