<th:block th:fragment="offcanvasmenu">
    <div class="off_canvars_overlay"></div>
    <div class="Offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <span>MENU</span>
                        <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                    </div>
                    <div class="Offcanvas_menu_wrapper">

                        <div class="canvas_close">
                            <a href="#"><i class="ion-android-close"></i></a>
                        </div>


                        <div class="top_right text-end">
                            <ul>
                                <li class="top_links"><a href="#"><i class="ion-android-person"></i> Mi cuenta<i class="ion-ios-arrow-down"></i></a>
                                    <ul class="dropdown_links">
                                        <li><a href="/checkout">Finalizar compra </a></li>
                                        <li><a href="/my-account">Mi cuenta </a></li>
                                        <li><a href="/cart">Carrito</a></li>
                                        <li><a href="/wishlist">Lista de deseos</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="Offcanvas_follow">
                            <label>Follow Us:</label>
                            <ul class="follow_link">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                            </ul>
                        </div>
                        <div class="search-container">
                            <form action="#">
                                <div class="search_box">
                                    <input placeholder="Introduzca el número o el nombre de la pieza" type="text">
                                    <button type="submit"><i class="ion-ios-search-strong"></i></button>
                                </div>
                            </form>
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children">
                                    <a href="/">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="/">Home</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Tienda</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="#">Shop Layouts</a>
                                            <ul class="sub-menu">
                                                <li><a href="/shop">shop</a></li>
                                                <li><a href="/shop-fullwidth">Full Width</a></li>
                                                <li><a href="/shop-fullwidth-list">Full Width list</a></li>
                                                <li><a href="/shop-right-sidebar">Right Sidebar </a></li>
                                                <li><a href="/shop-right-sidebar-list"> Right Sidebar list</a></li>
                                                <li><a href="/shop-list">List View</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Otras Páginas</a>
                                            <ul class="sub-menu">
                                                <li><a href="/cart">Carrito</a></li>
                                                <li><a href="/wishlist">Lista de deseos</a></li>
                                                <li><a href="/checkout">Finalizar compra</a></li>
                                                <li><a href="/my-account">Mi cuenta</a></li>
                                                <li><a href="/404">Error 404</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Tipos de Producto</a>
                                            <ul class="sub-menu">
                                                <li><a href="/product-details">Detalles del producto</a></li>
                                                <li><a href="/product-sidebar">Barra lateral del producto</a></li>
                                                <li><a href="/product-grouped">Producto agrupado</a></li>
                                                <li><a href="/variable-product">Producto variable</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="/blog">Blog</a></li>
                                        <li><a href="/blog-details">Detalles del blog</a></li>
                                        <li><a href="/blog-fullwidth">Blog ancho completo</a></li>
                                        <li><a href="/blog-sidebar">Barra lateral del blog</a></li>
                                    </ul>

                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Páginas </a>
                                    <ul class="sub-menu">
                                        <li><a href="/login">Iniciar sesión</a></li>
                                        <li><a href="/about">Sobre nosotros</a></li>
                                        <li><a href="/services">Servicios</a></li>
                                        <li><a href="/faq">Preguntas frecuentes</a></li>
                                        <li><a href="/compare">Comparar</a></li>
                                        <li><a href="/privacy-policy">Política de privacidad</a></li>
                                        <li><a href="/coming-soon">Próximamente</a></li>
                                        <li><a href="/register">Registrarse</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="/my-account">Mi cuenta</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="/about">Sobre nosotros</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="/contact"> Contáctenos</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</th:block>

