<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{home.index.headline}]]</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
    <body>
        <div layout:fragment="content">
            <h1 class="grow text-3xl md:text-4xl font-medium mb-8">[[#{home.index.headline}]]</h1>
            <p class="mb-4">[(#{home.index.text})]</p>
            <p class="mb-12">
                <span>[[#{home.index.swagger.text}]]</span>
                <a th:href="@{/swagger-ui.html}" target="_blank" class="underline">[[#{home.index.swagger.link}]]</a>.
            </p>
            <div class="md:w-2/5 mb-12">
                <h4 class="text-2xl font-medium mb-4">[[#{home.index.exploreEntities}]]</h4>
                <div class="flex flex-col border border-gray-300 rounded">
                    <a th:href="@{/admin/carMakers}" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2">[[#{carMaker.list.headline}]]</a>
                    <a th:href="@{/admin/carModels}" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2">[[#{carModel.list.headline}]]</a>
                    <a th:href="@{/admin/carVersions}" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2">[[#{carVersion.list.headline}]]</a>
                    <a th:href="@{/admin/partss}" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2">[[#{parts.list.headline}]]</a>
                    <a th:href="@{/admin/userss}" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2">[[#{users.list.headline}]]</a>
                    <a th:href="@{/admin/categories}" class="w-full border-gray-300 hover:bg-gray-100 rounded-b px-4 py-2">[[#{category.list.headline}]]</a>
                </div>
            </div>
        </div>
    </body>
</html>
